<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Trader Tools</title>
</head>
<body>
<style>
	.app ul {
		padding: 0px;
	}
	.app ul li{
		padding-left: 0px;
		text-decoration: underline;
		color: blue;
		cursor: pointer;
	}
	.menu, .content { vertical-align: top;  }
	.content { vertical-align: top; }
	.content img { width: 95% }
	.stock-content {
		border: 1px solid gray;
		padding: 10px;
		border-radius: 14px;
		text-align: center;
	}
</style>
<div id="app" class="app">
	<div class="menu">
		<select ref="groupList" @change="setCurrentGroup" v-model="selectedGroup"> -
			<option v-for="(item, index) in group">{{item.title}}</option>
		</select>
		<button v-on:click="removeGroup()">x</button>
		| Add Group :
		<input type="text" placeholder="Group Title" v-model="iTitle">
		<input type="text" placeholder="Symbols" v-model="iStocks" size="20">
		<button v-on:click="addStock()">Add</button>
		<hr>
	</div>
	<div style="text-align: center">
		<a :href="'https://finviz.com/screener.ashx?v=111&o=-change&t='+currentGroup.stocks" target="_blank">{{currentGroup.stocks}}</a>
	</div>
	<div class="content">
		<b>{{currentGroup.title}}</b>
		<div v-for="(item, index) in currentStock" class="stock-content">
			<a :href="'https://stockcharts.com/h-sc/ui?s=' + item + '&p=D&b=5&g=0&id=p33849936437'" target="_blank">
				<img :src="'https://finviz.com/chart.ashx?t=' + item + '&ta=1&p=d&s=m'" alt="">
			</a>
			<br>
			<a :href="'https://finviz.com/quote.ashx?&ty=c&p=d&b=1&t=' + item.trim()" target="_blank">FV</a>
			<a :href="'https://markets.businessinsider.com/analyst/' + item.trim()" target="_blank">Market Analyst</a>
		</div>
	</div>
</div>
<br><br>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script>
	var app = new Vue({
		el: '#app',
		data: {
			name: '',
			group: [],
			currentGroup: {},
			currentStock: [],
			iTitle: '',
			iStocks: '',
			selectedGroup: '',
			defaultConfig: `chart,FV-T,https://finviz.com/chart.ashx?t=$sym&ta=1&p=d&s=m,link
chart,FV-CD,https://finviz.com/chart.ashx?t=$sym&ty=c&p=d&s=m&ta=0,
chart,FV-CW,https://finviz.com/chart.ashx?t=$sym&ty=c&p=w&s=m&ta=0,
chart,FV-CM,https://finviz.com/chart.ashx?t=$sym&ty=c&p=m&s=m&ta=0,
chart,SC-1,https://c.stockcharts.com/c-sc/sc?s=$sym&p=D&b=5&g=0&i=t6289384001c&r=1565369783858,https://stockcharts.com/h-sc/ui?s=$sym&p=D&b=5&g=0&id=p33849936437
link,Ratings,https://markets.businessinsider.com/analyst/$sym`
		},
		methods: {
			addStock: function () {
				var iTitle = !this.iTitle ? this.genGroupTitle() : this.iTitle;
				this.group.push({title: iTitle, stocks: this.iStocks});
				console.log(iTitle);

				this.iTitle = '';
				this.iStocks = '';
			},

			removeGroup: function() {
				this.group.splice(this.$refs.groupList.selectedIndex,1);
			},
			setCurrentGroup: function(event) {
				this.currentGroup = this.group[event.target.selectedIndex];
			},
			setGroup: function() {
				localStorage.group = JSON.stringify(this.group);
				console.log('updated.');
			},

			getGroup: function() {
				this.group = JSON.parse(localStorage.group);
			},

			genGroupTitle: function() {
				var date = new Date();
				return date.getFullYear() + '-' + (date.getMonth()+1) + '-' + date.getDay();
			}
		},
		mounted() {
			if (localStorage.group) {
				console.log(this.defaultConfig);
				console.log(localStorage.group);
				this.getGroup();
				console.log(this.genGroupTitle());
			}
		},
		watch: {
			group() {
				this.setGroup();
			},
			currentGroup() {
				this.currentStock = this.currentGroup.stocks.split(",");
			}
		}
	})
</script>
</body>
</html>