<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Trader Tools</title>
</head>
<body>
<style>
	.app ul {
		padding: 0px;
	}
	.app ul li{
		padding-left: 0px;
		text-decoration: underline;
		color: blue;
		cursor: pointer;
	}
	.menu, .content { width: 20%; display: inline-block; vertical-align: top;  }
	.content { width: 78%; display: inline-block; vertical-align: top; }
	.content img { width: 95% }

</style>
<div id="app" class="app">
	<div class="menu">
		Add Symbols <br>
		<input type="text" placeholder="Group Title" v-model="iTitle">
		<input type="text" placeholder="Symbols" v-model="iStocks"> <br>
		<button v-on:click="addStock()">Add</button>
		<br>
		<ul>
			<li v-for="(item, index) in group" v-on:click="setCurrentGroup(item)">
				{{item.title}}
				<button v-on:click.prevent="removeItem(index)"> X </button>
			</li>
		</ul>
	</div>
	<div class="content">
		<b>{{currentGroup.title}}</b>
		<div v-for="(item, index) in currentStock">
			<a :href="'https://stockcharts.com/h-sc/ui?s=' + item" target="_blank">
				<img :src="'https://finviz.com/chart.ashx?t=' + item + '&ta=1&p=d&s=m'" alt="">
			</a>
			<a :href="'https://finviz.com/quote.ashx?&ty=c&p=d&b=1&t=' + item" target="_blank">FINVIZ</a>
		</div>
	</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script>
	var app = new Vue({
		el: '#app',
		data: {
			name: '',
			group: [],
			currentGroup: {},
			currentStock: [],
			iTitle: '',
			iStocks: ''
		},
		methods: {
			addStock: function () {
				this.group.push({title: this.iTitle, stocks: this.iStocks});
				this.iTitle = '';
				this.iStocks = '';
			},

			removeItem: function(index) {
				console.log(index);
				this.group.splice(index,1);
			},
			setCurrentGroup: function(item) {
				this.currentGroup = item;
				console.log(item);
			},
			setGroup: function() {
				localStorage.group = JSON.stringify(this.group);
				console.log('updated.');
			},

			getGroup: function() {
				this.group = JSON.parse(localStorage.group);
			}
		},
		mounted() {
			if (localStorage.group) {
				console.log(localStorage.group);
				this.getGroup();
			}
		},
		watch: {
			group() {
				this.setGroup();
			},
			currentGroup() {
				this.currentStock = this.currentGroup.stocks.split(",");
			}
		}
	})
</script>
</body>
</html>